.mobileheader .mobilelogo {
  -webkit-animation: uptodown 3s;
          animation: uptodown 3s;
}

.mobileheader .mobileheaderbutton ul .lihome {
  -webkit-animation: lefttoright 3s;
          animation: lefttoright 3s;
}

.mobileheader .mobileheaderbutton ul .lipopart {
  -webkit-animation: righttoleft 3s;
          animation: righttoleft 3s;
}

.mobileheader .headerhorizon {
  -webkit-animation: headerhorizon 3s;
          animation: headerhorizon 3s;
}

.mobilesectionone .mobileartistintro .photo .andyimage {
  -webkit-animation: photoinandout 20s infinite;
          animation: photoinandout 20s infinite;
}

.mobilesectionone .mobileartistintro .photo .yayoiimage {
  -webkit-animation: photoinandout 20s 10s infinite;
          animation: photoinandout 20s 10s infinite;
}

.mobilesectionone .mobileartistintro .name .andyname h3 {
  -webkit-animation: textinandout 20s infinite;
          animation: textinandout 20s infinite;
}

.mobilesectionone .mobileartistintro .name .yayoiname h3 {
  -webkit-animation: textinandout 20s 10s infinite;
          animation: textinandout 20s 10s infinite;
}

.mobilesectionone .mobileartistintro .quote .andyquote p {
  -webkit-animation: textinandout 20s infinite;
          animation: textinandout 20s infinite;
}

.mobilesectionone .mobileartistintro .quote .yayoiquote p {
  -webkit-animation: textinandout 20s 10s infinite;
          animation: textinandout 20s 10s infinite;
}

.mobilesectiontwo .product .productphoto .bananaimage {
  -webkit-animation: productscale 20s infinite;
          animation: productscale 20s infinite;
}

.mobilesectiontwo .product .productphoto .pumpkinimage {
  -webkit-animation: productscale 20s 10s infinite;
          animation: productscale 20s 10s infinite;
}

@-webkit-keyframes photoinandout {
  0% {
    opacity: 1;
    -webkit-transform: translateX(375px);
            transform: translateX(375px);
  }
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-375px);
            transform: translateX(-375px);
  }
}

@keyframes photoinandout {
  0% {
    opacity: 1;
    -webkit-transform: translateX(375px);
            transform: translateX(375px);
  }
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-375px);
            transform: translateX(-375px);
  }
}

@-webkit-keyframes productscale {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes productscale {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes textinandout {
  0% {
    visibility: inherit;
    -webkit-transform: translateX(375px);
            transform: translateX(375px);
  }
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  49% {
    visibility: inherit;
  }
  50% {
    visibility: hidden;
    -webkit-transform: translateX(-375px);
            transform: translateX(-375px);
  }
}

@keyframes textinandout {
  0% {
    visibility: inherit;
    -webkit-transform: translateX(375px);
            transform: translateX(375px);
  }
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  49% {
    visibility: inherit;
  }
  50% {
    visibility: hidden;
    -webkit-transform: translateX(-375px);
            transform: translateX(-375px);
  }
}

@-webkit-keyframes uptodown {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes uptodown {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes lefttoright {
  0% {
    -webkit-transform: translateX(-375px);
            transform: translateX(-375px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes lefttoright {
  0% {
    -webkit-transform: translateX(-375px);
            transform: translateX(-375px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes righttoleft {
  0% {
    -webkit-transform: translateX(375px);
            transform: translateX(375px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes righttoleft {
  0% {
    -webkit-transform: translateX(375px);
            transform: translateX(375px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes headerhorizon {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes headerhorizon {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
/*# sourceMappingURL=mobileanimtaion.css.map */